@import url('./root.css');
/* Error Page styles */

.error-main {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* height: 70vh; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15rem;
    padding-bottom: 10rem;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.20);
}

.error-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.error-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.error-title-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .8rem;
}

.error-title-1 p {
    color: var(--White, #FFF);
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.error-title-1 span {
    text-align: center;
    font-size: 2.4rem;
    line-height: 0;
    color: var(--White, #FFF);
}

.error-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    height: 100%;
}

.error-title > p {
    color: var(--White, #FFF);
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.6rem;
}

.error-title a {
    display: flex;
    padding: 1.2rem 9rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 54px;
    background: var(--Secondary, #F07B0F);
    color: var(--White, #FFF);
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    min-width: fit-content;
}
.footer-error-page {
    height: 30vh;
}

@media (max-width: 1024px) {
    .error-main {
        height: unset;
    }
    .footer-error-page {
        height: unset;
    }
}
/* Error Page styles ends */