.achh-about {
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; /* Provides space between left and right content */
  /* gap: 2rem; Gap between left and right sections */
}

/* Left section */
.achh-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content:center;
    align-items: center;
    max-width: 600px;
    width: 100%;
    /* justify-content: flex-start; */
}

/* Right section (sticky card) */
.achh-right {
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
    width: 300px;
    padding: 2.4rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
   
    gap: 1.6rem;

    color: var(--Primary-color, #001E62);

  text-align: justify;
  /* Noto Sans JP/Body/Body ~ 18_120/bold */
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 28.8px */
}

.achh-right button {
    color: var(--color-btn); 
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.2rem 2.4px;
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center; 
    align-items: center; 
    width: fit-content;
    
}

/* Title styling */
.main-h1 {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 160%;
    gap: .8rem;
}

/* Circle list styling */
.circle-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: .4rem;
}

.circle-list li {
    width: .5rem;
    height: .5rem;
    background-color: #FF8C00;
    border-radius: 50%;
    display: inline-block;
}

.underline-heading{
    /* display: flex; */
    color: var(--text-color);
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; 
    padding-bottom: 0.8rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-bottom: 2px solid #F1821C;
    width: fit-content;
}
.achh-slider{
  gap: 3.2rem;
  display: flex;
  flex-direction: column;
}
#slider {
    width: 100%;
    height: auto; 
    position: relative; 
}
#slider img {
    width: 100%; 
    height: auto;
    position: absolute; 
    top: 0;
    left: 0;
}

.container1 {
  position: relative;
  border-radius: 50px;

}
  
.mySlides {
  display: none;
  position: relative;
  height: 100%;
}
  
.cursor {
  cursor: pointer;
}
  

/* Container for image text */
.caption-container {
  text-align: center;
  padding: 4px 8px;
  position: absolute;
  margin-bottom: 1.5rem;
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  box-sizing: border-box;
  color: var(--text-color);
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 28.8px */
  border-radius: 10px;
  background: var(--White, #FFF);
}
  
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.main-content {
  padding-right: 50rem; 

}
.content-wrapper {
  max-width: 1000px;
  width: 100%;
  padding-left: 20rem;
}
.full-width-bg {
  padding: 6rem 0;
}
.content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sticky-card {
  float: right;
  position: sticky;
  top: 2rem;
  right: 8%;
  width: 30rem;
  padding: 2.4rem;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.10);
  display: flex;
  flex-direction: column;
  
  gap: 1.6rem;
  color: var(--Primary-color, #001E62);
  text-align: justify;
  font-family: "Noto Sans JP";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; 
}


@media (max-width: 768px) {
  .main-content {
    padding-right: 0; 
  }
  .content-wrapper {
    width: 100%;
    padding-left: 0;
  }
  .full-width-bg {
    padding: 6rem 0;
  }
  
}

@media (max-width: 1200px) {
  .main-content {
    padding-right: 20rem;
  }
  .content-wrapper {
    padding-left: 20rem;
  }
  .full-width-bg {
    padding: 6rem 0;
  }
  .sticky-card {
      display: none;
      width: auto;
      margin-top: 20px;
  }
}

@media (min-width: 1441px) {
  .main-content {
    padding-right: calc(8% + 41rem); 
  }
  .content-wrapper {
    max-width: 1200px;
    width: 100%;
    padding-left: 30rem;
  }
  .full-width-bg {
    padding: 6rem 0;
  }
  
}