.for_padding{
  width: 100%;
  padding: 6rem 55rem 6rem 20rem;
}

/* <!-- --------------------------------3 dot------------------------------------------ --> */
.main-h1 {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 160%;
  gap: .8rem;
}

.circle-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: .4rem;
}

.circle-list li {
  width: .5rem;
  height: .5rem;
  background-color: #FF8C00;
  border-radius: 50%;
  display: inline-block;
}

span{
  display: block;
}

/* <!-- --------------------------------sticky_card------------------------------------------ --> */

.sticky_card {
  float: right;
  position: sticky;
  top: 10%;
  margin: 3.3rem 0;
  right: 13.8%;
  width: 30rem;
  padding: 2.4rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.10);
}

.sticky_card h6{
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 1.8rem;
  font-weight: 700;
}

.sticky_card p{
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 1.6rem;
}

.sticky_card div span{
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 1.2rem;
  font-weight: 700;
}

.sticky_card div {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;
  padding:0 3.4rem;
}

.sticky_card h5{
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 1.6rem;
}

.sticky_card h5 span{
  display: block;
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 400;
}


.sticky_card .for_btn{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.sticky_card .btn {   
  text-align: center;
  border: 2px solid var(--color-btn);
  border-radius: var(--border-radius);
  padding: 1.2rem 2.4rem;
  font-family: var(--font-family); 
  color:var(--color-btn);
  font-size: var(--body-font-size);
  font-weight: var(--bold-weight);
}
.sticky_card .btn:hover {   
  background-color: var(--hover-light);
  transform: scale(1.05);
}

/* <!-- --------------------------------section_1------------------------------------------ --> */

.sct_1 h4{
  width: fit-content;
  color: var(--Black, #000);
  text-align: center;
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 700;
  border-bottom:.2rem solid #F1821C;
  padding-bottom: .8rem;
  margin: 3rem 0 2rem;
}

.sct_1 .sct_1_list {
  line-height: 2.6rem;
  padding-left: 2rem;
}

.sct_1 .sct_1_list li{
  color: var(--Black, #000);
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 400;
  list-style:disc;  
}

/* <!-- --------------------------------section_2------------------------------------------ --> */

.sct_2 {
  background: #E9F7FF;
}

.sct_2 .top_txt{
  margin: 3.2rem 0;
  color: var(--Black, #000);
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 400;
}
  
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.main-content {
  padding-right: 50rem; 

}
.content-wrapper {
  max-width: 1000px;
  width: 100%;
  padding-left: 20rem;
}
.full-width-bg {
  padding: 6rem 0;
}
.content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* <!-- --------------------------------section_3------------------------------------------ --> */

.sct_3 .box{
  display: flex;
  gap: 3rem;
  width: 100%;
  margin-top: 5rem;
}

.sct_3 .box h4{
  width: fit-content;
  color: var(--Black, #000);
  text-align: center;
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 700;
  border-bottom:.2rem solid #F1821C;
  padding-bottom: .8rem;
  margin: 3rem 0 2rem;
}

.sct_3 .box p{
  color: var(--Black, #000);
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 400;
  margin: 1.8rem 0 0;
}

.sct_3 .box .left_card,
.sct_3 .box .right_card{
  width: 50%;
}

.sct_3 .box .for_img{
  width: 100%;
  height: 22rem;
  object-fit:fill;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 2rem;
  border: .2rem  solid #E7E7E7;
}

.sct_3 .box .for_img img{
  width: 100%;
  display: block;
}

/* <!-- --------------------------------section_4------------------------------------------ --> */

.sct_4 h6{
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: var(--font-family);
  font-size: 2.8rem;
  font-weight: 700;
  background: var(--Primary-color, #001E62);
  padding: 1rem;
}

.sct_4 .box{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  padding: 3rem;
  border: .2rem solid var(--Primary-color, #001E62);
  background: var(--White, #FFF);
  margin-bottom: 3.2rem;
}

.sct_4 .box .card{
  width: 100%;
}

.sct_4 .box p{
  color: var(--Black, #000);
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 400;
}

.sct_4 .box .card .for_txt{
  padding: 1.8rem;
  box-shadow: 
  0rem 0px 1rem 0px rgba(0, 0, 0, 0.10), 
  0rem 0px 1rem 0px rgba(0, 0, 0, 0.10),   
  0px 0rem 1rem 0px rgba(0, 0, 0, 0.10);  
  border-radius: 0 0 .5rem .5rem;
}

.sct_4 .box .card h4{
  width: fit-content;
  color: var(--Black, #000);
  text-align: center;
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 700;
  border-bottom:.2rem solid #F1821C;
  padding-bottom: .8rem;
}

.sct_4 .box .card p{
  color: var(--Black, #000);
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 400;
  margin: 2rem 0 0;
}

.sct_4 .box .for_img{
  width: 100%;
  height: 16.9rem;
  /* display: flex;
  align-items: flex-start;
  justify-content: center; */
  overflow: hidden;
  border-radius: .5rem .5rem 0 0;
}

.sct_4 .box .for_img img{
  width: 100%;
  height: 100%;
  display: block;
}

/* <!-- --------------------------------section_5------------------------------------------ --> */

.sct_5 h6{
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: var(--font-family);
  font-size: 2.8rem;
  font-weight: 700;
  background: var(--Primary-color, #001E62);
  padding: 1rem;
}

.sct_5 .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 3.2rem;
  border: .2rem solid var(--Primary-color, #001E62);
  background: var(--White, #FFF);
}

.sct_5 .box p{
  color: var(--Black, #000);
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 400;
}

.sct_5 .box h5{
  color: var(--Black, #000);
  font-family: var(--font-family);
  font-size: 2.4rem;
  font-weight: 700;
}

.sct_5 .box .card{
  width: 100%;
  background: #E9F7FF;
  box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.10);
  border-radius: .5rem;
}

.sct_5 .box .card .top_card,
.sct_5 .box .card .bottom_card{
  display: flex;
}

.sct_5 .box .card .top_card .for_img{
  width: 25rem;
  padding: 3.3rem 5rem 0;
  height: 22rem; 
  overflow: hidden;
  background-color: #fff;
}

.sct_5 .box .card .top_card .for_img img{
  width: 100%;
  display: block;
}

.sct_5 .box .card .top_card .for_txt{
  width: calc(100% - 25rem);
}

.sct_5 .box .card .for_txt{
  padding: 2rem; 
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.sct_5 .box .card .for_txt h4{
  width: fit-content;
  color: var(--Black, #000);
  text-align: center;
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 700;
  border-bottom:.2rem solid #F1821C;
  padding-bottom: .8rem;
}

.sct_4 .box .card .for_txt p{
  color: var(--Black, #000);
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 400;
  margin: 2rem 0 0;
}

.sct_5 .box .card_2{
  width: 100%;
  background: #E9F7FF;
  box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.10);
  border-radius: .5rem;
}

.sct_5 .box .card_2 .top_card{
  display: flex;
  padding: 3.3rem 4.4rem 0;
  gap: 3.7rem;
  height: 22rem;
  background-color: #fff;
}

.sct_5 .box .card_2 .top_card .for_img{
  width: fit-content; 
  overflow: hidden;
}

.sct_5 .box .card_2 .bottom_card{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}

.sct_5 .box .card_2 .bottom_card .for_txt{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.sct_5 .box .card_2 .for_txt h4{
  width: fit-content;
  color: var(--Black, #000);
  text-align: center;
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 700;
  border-bottom:.2rem solid #F1821C;
  padding-bottom: .8rem;
}

.sct_4 .box .card_2 .for_txt p{
  color: var(--Black, #000);
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 400;
  margin: 2rem 0 0;
}


/* <!-- --------------------------------section_6------------------------------------------ --> */

.sct_6{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  background: #E9F7FF;
}

.sct_6 .box_1{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.sct_6 .box_1 h2{
  color: var(--Black, #000);
  font-size: 2.8rem;
  font-weight: 700;
}
 
.sct_6 .box_1 .card_1{
  width: 100%;
  display: flex;
  background-color: #fff;
}

.sct_6 .box_1 .card_1 .for_img{
  position: relative;
  padding: 1.53rem 2.4rem;
  width: 35%;
  text-align: center;
}

.sct_6 .box_1 .card_1  .for_img img{
  max-width: 13.5rem;
}

.sct_6 .box_1 .card_1  .for_img .mirror{
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 1rem;               
  backdrop-filter: blur(.1rem);         
  border: .1rem solid rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.05);
  margin: 1.53rem 2.4rem;
}

.sct_6 .box_1 .card_1  .for_img .mirror dt,
.sct_6 .box_1 .card_1  .for_img .mirror dd{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .6rem;
  margin: 1.6rem 0;
}

.sct_6 .box_1 .card_1  .for_img .mirror dt img,
.sct_6 .box_1 .card_1  .for_img .mirror dd img{
  max-width: 6.4rem;
}

.sct_6 .box_1 .cacard_1rd  .for_txt{
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.sct_6 .box_1 .card_1  .for_txt h4{
  width: fit-content;
  color: var(--Black, #000);
  text-align: center;
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 700;
  border-bottom:.2rem solid #F1821C;
  padding-bottom: .8rem;
}

.sct_6 .box_1 .card_1 .for_txt p{
  color: var(--Black, #000);
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 400;
}

.sct_6 .box_1 .card_2{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.sct_6 .box_1 .card_2  .for_txt{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.sct_6 .box_1 .card_2   .for_txt h4{
  width: fit-content;
  color: var(--Black, #000);
  text-align: center;
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 700;
  border-bottom:.2rem solid #F1821C;
  padding-bottom: .8rem;
}

.sct_6 .box_1 .card_2  .for_txt p,
.sct_6 .box_1 .card_2  .for_txt ul li{
  color: var(--Black, #000);
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.sct_6 .box_1 .card_2  .for_img{
  width: 100%;
  padding: 2.45rem 9.24rem;
  overflow: hidden;
}

.sct_6 .box_1 .card_2  .for_img img{
  width: 100%;
  display: block;
}


.sct_6 .box_2{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.sct_6 .box_2 h2{
  color: var(--Black, #000);
  font-size: 2.8rem;
  font-weight: 700;
}

.sct_6 .box_2 .card_1{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.sct_6 .box_2 .card_1  .for_txt{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.sct_6 .box_2 .card_1  .for_txt h4{
  width: fit-content;
  color: var(--Black, #000);
  text-align: center;
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 700;
  border-bottom:.2rem solid #F1821C;
  padding-bottom: .8rem;
}

.sct_6 .box_2 .card_1 .for_txt p{
  color: var(--Black, #000);
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 400;
}

.sct_6 .box_2 .card_1 .for_img{
  width: 100%;
  padding: 2.45rem 9.24rem;
  overflow: hidden;
}

.sct_6 .box_2 .card_1 .for_img img{
  width: 100%;
  display: block;
}


.sct_6 .box_2 .card_2{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  gap: 2.8rem;
  padding: 2rem;
}

.sct_6 .box_2 .card_2 h2{
  color: var(--Black, #000);
  font-size: 2.4rem;
  font-weight: 700;
}

.sct_6 .box_2 .card_2 .grid_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, auto);   
  gap: 2rem ;   
  background-color: #fff;                         
}

.sct_6 .box_2 .card_2 .grid_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.sct_6 .box_2 .card_2 .grid_item img {
  max-width: 6.2rem;
  height: auto;
  border-radius: .8rem;
}

.sct_6 .box_2 .card_2 .grid_item p {
  margin-top: 1rem;
  color: var(--Black, #000);
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: 700;
}





/* 
@media (max-width: 768px) {
  .main-content {
    padding-right: 0; 
  }
  .content-wrapper {
    width: 100%;
    padding-left: 0;
  }
  .full-width-bg {
    padding: 6rem 0;
  }
  
}

@media (max-width: 1200px) {
  .main-content {
    padding-right: 20rem;
  }
  .content-wrapper {
    padding-left: 20rem;
  }
  .full-width-bg {
    padding: 6rem 0;
  }
  .sticky_card {
      display: none;
      width: auto;
      margin-top: 20px;
  }
}

@media (min-width: 1441px) {
  .main-content {
    padding-right: calc(8% + 41rem); 
  }
  .content-wrapper {
    max-width: 1200px;
    width: 100%;
    padding-left: 30rem;
  }
  .full-width-bg {
    padding: 6rem 0;
  } 
} */