.container-case-page {
    width: 100%;
    margin: 0 auto;
    padding: 6rem 20rem 0 20rem;
    max-width: 144rem;
}

/* Case list filter links stars*/

.case-filter-main {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
    margin: 0 auto;
    padding-bottom: 0;
}

.case-filter-main a {
    display: flex;
    padding: 8px 24px;
    align-items: center;
    gap: 10px;
    color: var(--Primary-color, #001E62);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-decoration: none;
}

.case-filter-main a:hover {
    background-color: #C5C5C5;
}

.case-filter-main a:active {
    background: var(--Primary-color, #001E62);
    color: var(--White, #FFF);
}

.case-filter-main a.active {
    background: var(--Primary-color, #001E62);
    color: var(--White, #FFF);
}

/* Case list filter links end */

/* Case list cards start */

.case-list-main {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    box-sizing: border-box;
    padding-top: 4rem;
}

.case-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #fff;
    background: var(--White, #FFF);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px 0px 0px 0px;
}

.image-box {
    position: relative;
}

.image-box img {
    width: 100%;
    height: auto;
    max-height: 18.5rem;
    display: block;
    object-fit: cover;
}

.image-box p {
    position: absolute;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px 0px 3px 0px;
    border: 1px solid var(--Primary-color, #001E62);
    background: var(--White, #FFF);
    top: 0;
    left: 0;
    color: var(--Deep-Sapphire---Primary-950, var(--Primary-color, #001E62));
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 160%;
    margin: 0;
}

.text-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    gap: 1.2rem;
}

.text-box img {
    width: auto;
    max-width: fit-content;
    height: 2.8rem;
}

.text-box p {
    color: var(--Black, #000);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

@media (max-width: 1200px) {
    .container-case-page {
        padding: 6rem 10rem 0 10rem;
    }
}

@media (max-width: 1024px) {
    .case-list-main {
        grid-template-columns: repeat(2, 1fr);
    }
    .image-box img {
        max-height: 20rem;
    }
}

@media (max-width: 768px) {
    .case-list-main {
        grid-template-columns: repeat(1, 1fr);
    }
    .image-box img {
        max-height: 30rem;
    }
}

@media (max-width: 470px) {
    .container-case-page {
        padding: 5rem 5rem 0 5rem;
    }
    .case-list-main {
        grid-template-columns: repeat(1, 1fr);
    }
    .image-box img {
        max-height: 22rem;
    }
}

@media (max-width: 320px) {}

/* Case list cards ends */

/* Case list pagination start */

.case-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.case-pagination a {
    display: flex;
    padding: .4rem .8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 3.5rem;
    width: 3.5rem;
    height: 3.5rem;
    color: var(--Primary-color, var(--Primary-color, #001E62));
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.case-pagination a:hover {
    background-color: #C5C5C5;
}

.case-pagination a.active , .case-pagination a.active svg path {
    background: var(--Primary-color, #001E62);
    color: var(--Primary-color, var(--Primary-color, #fff));
    fill: #FFF;
}


/* Case list pagination start */