.faq_main{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}
.faq_main h2{
    color: var(--Primary-color, #001E62);
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    align-items: center;
}
.faq_main h2 span{
    display: flex;
    gap: .4rem;
}
.faq_main h2 span img{
    width: .5rem;
}
.faq_filter{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.faq_filter select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../assets/icons/dropdown_icon.svg') no-repeat right center;
    padding: 1.2rem 2rem;  
    background-repeat: no-repeat;
    background-position: right 2rem center;
    border: 1px solid #D1D1D1;
    background-color: #F1F7FB;
}

.faq_filter select option{
    font-size: 2rem;
    font-weight: 700;
}

.faq_body{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}
.faq_body .faq_card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.faq_body .faq_card .question_head{
    width: fit-content;
    font-size: 2.4rem;
    font-weight: 700;
    padding-bottom: .8rem;
    border-bottom: .2rem solid #F1821C;
}
.faq_body .faq_card .faq_question{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 1.6rem;
    border-bottom: .1rem solid #D1D1D1;
}
.faq_body .faq_card .faq_question h3{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
    font-weight: 700;
}
.faq_body .faq_card .faq_question h3 img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
}
.faq_body .faq_card .faq_question p{
    font-size: 1.8rem;
    font-weight: 400;
}

@media(max-width: 768px){
    .faq_filter{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 425px){
    .faq_filter{
        grid-template-columns: repeat(1, 1fr);
    }
}
  