@import url('./root.css');

/* <!-- ====================serction_1=============================== --> */
.sct_1{
    background-color: var(--background-color);
    width: 100%;
    margin: 7.45rem auto 0;
    position: relative;
    overflow: hidden;
    height: 110vh;
}

.sct_1 .main_bg_sct_1{
    width: 90%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover; 
    z-index: 1;
    border-radius: 0 0 0 var(--border-radius); 
}

.sct_1 .sct_1_text{
    position: relative;
    z-index: 1;
    top: 20%;
    left: 12%;
}

.sct_1 .sct_1_text .parallelogram{
    width: fit-content;
    background-image: linear-gradient(to right, #0B1F4E, #0055B8);
    transform: skew(-25deg); 
    padding: 1.5rem 6rem;
}

.sct_1 .sct_1_text .parallelogram p{
    transform: skew(25deg); 
    color: var(--text-color-def);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-family);
    font-size:3.4rem;
    font-weight: var(--bold-weight);
}

.sct_1  .sct_1_text p span{
    display: block;
}

.sct_1 .sct_1_text .parallelogram .logo_sct_1{
    position: absolute;
    width: 15%;
    transform: skew(25deg);
    top: -6rem;
    right: -1rem;
}

.sct_1  .sct_1_text h5{
    color: var(--text-color-def);
    font-feature-settings: 'liga' off, 'clig' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: var(--font-family);
    font-size: 6.5rem;
    font-weight: var(--max_weight);
    margin: 9.5rem 0  10rem;
}

.sct_1 .sct_1_text h5 span{
    padding-left: 5rem;
    display: block;
    font-size: 4rem;
}

.sct_1  .sct_1_text .sct_1_btn{
    display: flex;
    gap: 3rem;
}

.sct_1  .sct_1_text .sct_1_btn .sct_1_btn1 {   
    border: .3rem solid var(--color-btn);
    border-radius: var(--border-radius);
    padding: 1.2rem 6.4rem;
    font-family: var(--font-family); 
    color:var(--color-btn);
    font-size: 4rem;
    font-weight: var(--bold-weight);
    background-color: #fff;
}
.sct_1  .sct_1_text .sct_1_btn .sct_1_btn1:hover {   
    background-color: var(--hover-light);
    transform: scale(1.05);
}

.sct_1 .sct_1_text .sct_1_btn .sct_1_btn2 {   
    background: var(--color-btn);
    border-radius: var(--border-radius);
    padding: 1.2rem 6.4rem;
    font-family: var(--font-family); 
    color:var(--text-color-def);
    font-size: 4rem;
    font-weight: var(--bold-weight);
}

.sct_1 .sct_1_text .sct_1_btn .sct_1_btn2:hover {   
    background-color: var(--hover-dark);
    transform: scale(1.05);
}

/* <!-- ====================serction_2=============================== --> */

.sct_2 {
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sct_2 .sct_2_left{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.sct_2 .sct_2_left h6 {
    display: flex;
    gap: 2.3rem;
    font-family:var(--font-family);
    font-size: 5rem;
    font-weight: var(--bold-weight);
}

.sct_2 .sct_2_left h6 p{
    display: block; 
    color: var(--primary-color);
    font-weight: 700;
}

.sct_2 .sct_2_left h6 span{
    display: block; 
    color: var(--primary-color);
}

.sct_2 .sct_2_left h6 .top{
    display: flex;
    align-items: flex-start;
}
.sct_2 .sct_2_left h6 .bottom{
    display: flex;
    align-items: flex-end;
}

.sct_2 .sct_2_left .sct_2_txt{
    color: var(--Black, #000);
    font-family: var(--font-family);
    font-size: 2.2rem;  
    font-weight: var(--small-font-size);
}

.sct_2 .sct_2_right{
    width: 45%;
    position: relative;
}

.sct_2 .sct_2_right img{
    position: absolute;
    width: 65%;
    height: auto;
}

.sct_2 .sct_2_right img:nth-child(1){
    bottom: 0;
    left: 0;
}

.sct_2 .sct_2_right img:nth-child(2){
    top: 0;
    right: 0;
    z-index: 3;
}

/* <!-- ====================serction_3=============================== -->  */

.sct_3{

}


.sct_3 h6{
    color: var(--primary-color);
    text-align: center;
    font-family:var( --font-family);
    font-size: 5rem;
    font-weight: var(--bold-weight);
}

.sct_3 h6 span{
    display: block;
}









