.for_padding {
    width: 100%;
    padding: 6rem 55rem 6rem 20rem;
}

.wrapper {
    max-width: 69rem;
    width: 100%;
    margin: 0 auto;
}

/* <!-- --------------------------------column-detail-paths------------------------------------------ --> */

.column-detail-paths {
    display: flex;
    align-items: center;
    padding-left: 10rem;
    padding: 1.2rem 0px 1.2rem 10rem;
    gap: .4rem;
    background: #F6F6F6;
    margin-top: 7.8rem;
}

.column-detail-paths a {
    color: var(--Black, #000);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.column-detail-paths svg {
    width: 1.6rem;
    height: 1.6rem;
}

/* <!-- --------------------------------3 dot------------------------------------------ --> */
.main-h1 {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 160%;
    gap: .8rem;
}

.circle-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: .4rem;
}

.circle-list li {
    width: .5rem;
    height: .5rem;
    background-color: #FF8C00;
    border-radius: 50%;
    display: inline-block;
}

span {
    display: block;
}

/* <!-- --------------------------------sticky_card------------------------------------------ --> */

.sticky_card {
    float: right;
    position: sticky;
    top: 10%;
    margin: 3.3rem 0;
    right: 13.8%;
    width: 30rem;
    padding: 2.4rem;
    border-radius: 10px;
    background: #F6F6F6;
    box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.10);
    z-index: 10;
}

.sticky_card h6 {
    width: fit-content;
    margin: 0 auto;
    color: #000;
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 700;
}

.sticky_card p {
    color: #000;
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 400;
    margin: 1.2rem 0;
}

.sticky_card h3{
    color: #F00;
    font-family: var(--font-family);
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
}

.sticky_card form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.sticky_card .input-group label {
    display: block;
    color: var(--Black, #000);
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 700;
    margin-bottom: .8rem;
}

.sticky_card .input-group input,
.sticky_card .input-group textarea {
    width: 100%;
    padding: .8rem 2.4rem;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    border: .1rem solid var(--gray, #B6B6B6);
    background: var(--White, #FFF);
}

.sticky_card .input-group input::placeholder,
.sticky_card .input-group textarea::placeholder {
    color: #C5C5C5;
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.08rem;
}

.row {
    display: flex;
    gap: 1.6rem;
  }
  
  .half-width {
    width: 50%;
  }

.sticky_card  .final_input h5{
    font-weight: bold;
    color: var(--Black, #000);
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 700;
}

.sticky_card  .final_input label {
    font-weight: bold;
    color: var(--Black, #000);
    font-family: var(--font-family);
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: .8rem;
    margin-top: .8rem;
}

.sticky_card  .final_input .custom-radio {
    display: none;
}

.sticky_card  .final_input + img{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: .1rem;
    transition: background 0.3s;
}
.final_input .custom-radio:checked + label img {
    transform: scale(1);
    background: #B6B6B6;
}


.btn {
    width: fit-content;
    margin: 0 auto;
    background: var(--color-btn);
    border-radius: var(--border-radius);
    padding: 1.2rem 9rem;
    font-family: var(--font-family);
    color: var(--text-color-def);
    font-size: 1.6rem;
    font-weight: var(--bold-weight);
}

.btn:hover {
    background-color: var(--hover-dark);
    transform: scale(1.05);
}



/* ===================================== section_1 ============================= */

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.wrapper h1{
    color: var(--Primary-color, #001E62);
    font-size: 3.2rem;
    font-weight: 700;
}

.wrapper .for_img{
    width: 100%;
    border-radius: 5px;
}  
 
.wrapper .for_img img{
    width: 100%;
}  

.wrapper .for_txt{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}   

.wrapper .for_txt h4{
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    border-bottom: .2rem solid #E37611;
    padding: 0 0 1rem 1rem;
}  

.wrapper .for_txt p{
    color: #000;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
}  

.wrapper .row{
    display: flex;
    gap: 6rem;
} 

.wrapper .row .for_txt{
    width: 50%;
}  

.wrapper .last_card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
} 

.wrapper .last_box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}  

.wrapper .last_box .card{
    padding: 2rem;
    border-radius: 5px;
    border: .1rem solid #D1D1D1;
    background: #F7F7F7;
    display: flex;
    gap: 2.5rem;
}  

.wrapper .last_box .card .for_img{
    width: 15rem;
    height: 15rem;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}   

.wrapper .last_box .card .for_img img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}   

.wrapper .last_box .card .for_txt h4 {
   display: flex;
   gap: 2.1rem;
   border-bottom: none;
   padding: 0;
} 

/* <!-- --------------------------------Media------------------------------------------ -->   */

@media(max-width:1300px){
    .for_padding{
      width: 100%;
      padding: 6rem 35rem 6rem 20rem;
    }
    
    .sticky_card {
      float: right;
      position: sticky;
      top: 10%;
      margin: 3.3rem 3.3rem 0 0 ;
      right: 0;
      width: 30rem;
    }
  }
  @media(max-width:1024px){
    .sticky_card{
      display: none;
    }
  
    .for_padding{
      width: 100%;
      padding: 6rem 10rem;
    }
    
  }
  
  @media(max-width:768px){
    .for_padding{
      width: 100%;
      padding: 3rem;
    }

    .wrapper .row{
        flex-direction: column;
    } 
    
    .wrapper .row .for_txt{
        width: 100%;
    }  
    
  }