:root {
    /* Color Variables */
    --primary-color: #001E62;
    --secondary-color: #F07B0F;
    --background-color: #E9F7FF;
    --color-btn: #E37611;
    --text-color: #202020;
    --text-color-def: #fff;
  
    /* Font Variables */
    --font-family: "Noto Sans JP";
    --large-font-size: 48px;
    --norm-font-size: 24px;
    --small-font-size: 14px;
  
    /* Spacing Variables */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
  
    /* Border Radius */
    --border-radius:400px;
  
    /* Animation Variables */
    --transition-speed: 0.3s;
    --animation-ease: ease-in-out;

    /* font Weight */
    --bold-weight: 700;
    --mid-weight: 500;
    --regular-weight: 400;

    /* hover  */
    --hover-dark:#faa759;
    --hover-light :#ffcea0;
  }

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 200px;
}
  