@import url('./root.css');
/* <!-- ====================serction_1=============================== --> */

.sct_1 {
    position: relative;
    width: 100%;
    min-height: 67.1rem;
    overflow: hidden;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6.65rem;
}

.sct_1 .main_bg_sct_1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    border-radius: 0 0 0 15rem;
}

.sct_1 .sct_1_text {
    position: relative;
    z-index: 1;
    text-align: left;
    left: -13%;
}

.sct_1 .sct_1_text .parallelogram {
    width: fit-content;
    background-image: linear-gradient(to right, #0B1F4E, #0055B8);
    transform: skew(-22deg);
    padding: 1.5rem 4rem;
    margin-left: 2rem;
}

.sct_1 .sct_1_text .parallelogram p {
    transform: skew(22deg);
    color: var(--text-color-def);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--font-family);
    font-size: 2.4rem;
    font-weight: var(--bold-weight);
    min-width: max-content;
}

.sct_1 .sct_1_text p span {
    display: block;
}

.sct_1 .sct_1_text .parallelogram .logo_sct_1 {
    position: absolute;
    width: 18%;
    transform: skew(22deg);
    top: -5rem;
    right: -1rem;
}

.sct_1 .sct_1_text h5 {
    color: var(--text-color-def);
    font-feature-settings: 'liga' off, 'clig' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: var(--font-family);
    font-size: 4.8rem;
    font-weight: var(--max_weight);
    margin: 4.3rem 0 5.5rem 0;
}

.sct_1 .sct_1_text h5 span {
    padding-left: 3rem;
    display: block;
    font-size: 3rem;
}

.sct_1 .sct_1_text .sct_1_btn {
    display: flex;
    gap: 1rem;
}

.sct_1 .sct_1_text .sct_1_btn .sct_1_btn1 {
    border: .2rem solid var(--color-btn);
    border-radius: var(--border-radius);
    padding: 1.2rem 6.4rem;
    font-family: var(--font-family);
    color: var(--color-btn);
    font-size: 2.4rem;
    font-weight: var(--bold-weight);
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    min-width: fit-content;
}

.sct_1 .sct_1_text .sct_1_btn .sct_1_btn1:hover {
    background-color: var(--hover-light);
}

.sct_1 .sct_1_text .sct_1_btn .sct_1_btn2 {
    background: var(--color-btn);
    border-radius: var(--border-radius);
    padding: 1.2rem 6.4rem;
    font-family: var(--font-family);
    color: var(--text-color-def);
    font-size: 2.4rem;
    font-weight: var(--bold-weight);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    min-width: fit-content;
}

.sct_1 .sct_1_text .sct_1_btn .sct_1_btn2:hover {
    background-color: var(--hover-dark);
}

/* <!-- ====================serction_2=============================== --> */

.sct_2 {
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    min-height: 35rem;
    gap: 6rem;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}
@media(max-width: 1200px){
    .sct_2{
        flex-direction: column;
    }
}

.sct_2 .sct_2_left {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.sct_2 .sct_2_left h6 {
    display: flex;
    gap: 2.3rem;
    font-family: var(--font-family);
    font-weight: var(--bold-weight);
}

.sct_2 .sct_2_left h6 p {
    display: block;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 3.2rem;
}

.sct_2 .sct_2_left h6 span {
    display: block;
    color: var(--primary-color);
}

.sct_2 .sct_2_left h6 .top {
    display: flex;
    align-items: flex-start;
}

.sct_2 .sct_2_left h6 .bottom {
    display: flex;
    align-items: flex-end;
}

.sct_2 .sct_2_left .sct_2_txt {
    color: var(--Black, #000);
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: var(--regular-weight);
    line-height: 2.56rem;
}

.sct_2 .sct_2_right {
    min-width: 44rem;
    height: 33rem;
    display: flex;
    position: relative;
}

.sct_2 .sct_2_right img:nth-child(1) {
    width: 30rem;
    align-self: flex-end;
    justify-self: flex-start;
    position: relative;
}


.sct_2 .sct_2_right img:nth-child(2) {
    width: 30rem;
    position: absolute;
    top: 0;
    right: 0;
    align-self: flex-start;
    justify-self: flex-end;
}

/* <!-- ====================serction_3=============================== -->  */

.sct_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
}

.sct_3 h6 {
    color: var(--primary-color);
    text-align: center;
    font-family: var(--font-family);
    font-size: 3.2rem;
    font-weight: var(--bold-weight);
}

.sct_3 h6 span {
    display: block;
}

.sct_3 video {
    width: 55%;
    margin: 0 auto;
    border-radius: 1rem;
    height: auto;
}

.sct_3 p {
    color: var(--Black, #000);
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: var(--regular-weight);
}

.sct_3 .sct_3_btn {
    width: fit-content;
    margin: 0 auto;
    background: var(--color-btn);
    border-radius: var(--border-radius);
    padding: 1.2rem 6rem;
    font-family: var(--font-family);
    color: var(--text-color-def);
    font-size: 2.4rem;
    font-weight: var(--bold-weight);
}

.sct_3 .sct_3_btn:hover {
    background-color: var(--hover-dark);
    transform: scale(1.05);
}

/* <!-- ====================serction_4=============================== -->  */

.sct_4 {
    background-color: var(--background-color);
}

.sct_4 .wrapper {
    display: flex;
    background-color: #fff;
    padding: 4rem;
    /* height: 33.5rem; */
    justify-content: space-between;
    flex-direction: column;
}

.sct_4 .wrapper .sct_4_left {
    /* max-width: 63rem; */
    width: 100%;
    text-align: center;
    padding: 4rem 4rem 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.sct_4 .wrapper .sct_4_left h6 {
    width: fit-content;
    padding-bottom: 1rem;
    color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: var(--bold-weight);
    border-bottom: .3rem solid var(--secondary-color);
}

.sct_4 .wrapper .sct_4_left h6 span {
    display: block;
}

.sct_4 .wrapper .sct_4_left p {
    color: #000;
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 400;
}

.sct-4-right-javo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.sct-4-right-javo img {
    width: 90%;
    height: auto;
}

.sct_4 .wrapper .sct_4_right {
    width: 34rem;
    overflow: hidden;
    position: relative;
}

.sct_4 .wrapper .sct_4_right img:nth-child(1) {
    width: 22.2rem;
}

.sct_4 .wrapper .sct_4_right img:nth-child(2) {
    width: 21.6rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* <!-- ====================serction_5=============================== -->  */

.sct_5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem 0;
}

.sct_5 .main_h1 {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--font-family);
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    gap: .8rem;
}

.sct_5 .circle_list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: .4rem;
}

.sct_5 .circle_list li {
    width: .5rem;
    height: .5rem;
    background-color: #FF8C00;
    border-radius: 50%;
    display: inline-block;
}

.sct_5 h5 {
    color: var(--secondary-color);
    text-align: center;
    font-family: var(--font-family);
    font-size: 2.4rem;
    font-weight: var(--bold-weight);
}

.sct_5 .sct_5_src {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.sct_5 .sct_5_src p {
    width: 16rem;
    height: 16rem;
    border: .2rem solid var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: var(--bold-weight);
    margin: 5rem 0;
}

.sct_5_content {
    display: flex;
    gap: 2rem;
    padding: 3.2rem 0;
    flex-direction: column;
}

.sct_5_src-imgs {
    display: flex;
    gap: 3rem;
    width: 100%;
    min-height: 26rem;
    justify-content: center;
    flex-wrap: wrap;
}

.sc_5_src_img-box {
    display: flex;
    align-items: center;
}

.sct_5_src-imgs .sc_5_src_img-box:nth-child(even) {
    align-items: flex-end;
}

.sct_5_src-imgs img {
    max-width: 16rem;
    height: fit-content;
}

.sct_5 .box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sct_5 .box .card {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    position: relative;
    width: 80%;
    background-color: var(--background-color);
}

.sct_5 .box .card:nth-child(even) {
    align-self: flex-end;
    padding: 5rem 20rem 5rem 35rem;
}

.sct_5 .box .card:nth-child(odd) {
    align-self: flex-start;
    padding: 5rem 35rem 5rem 20rem;
}

.sct_5 .box .card h1 {
    position: absolute;
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-size: 6.4rem;
    font-weight: var(--bold-weight);
    top: -5rem;
}

.sct_5 .box .card h4 {
    width: fit-content;
    padding-bottom: 1rem;
    color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: var(--bold-weight);
    border-bottom: .3rem solid var(--secondary-color);
}

.sct_5 .box .card h4 span {
    display: block;
}

.sct_5 .box .card p {
    width: 100%;
    color: #000;
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: var(--mid-weight);
    margin-top: 2rem;
}

.sct_5 .box .card div {
    position: absolute;
    width: 38rem;
    height: 34rem;
    border: 1px solid #B6B6B6;
    border-radius: .5rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sct_5 .box .card:nth-child(odd) div {
    top: -11rem;
    right: -10rem;
}

.sct_5 .box .card:nth-child(even) div {
    top: -7rem;
    left: -10rem;
}

.sct_5 .box .card div img {
    width: 100%;
    height: auto;
}

.sct_5 .sct_5_btn {
    width: fit-content;
    margin: 0 auto;
    background: var(--color-btn);
    border-radius: var(--border-radius);
    padding: 1.2rem 6.4rem;
    font-family: var(--font-family);
    color: var(--text-color-def);
    font-size: 2.4rem;
    font-weight: var(--bold-weight);
    margin-top: 4.4rem;
}

.sct_5 .sct_5_btn:hover {
    background-color: var(--hover-dark);
    transform: scale(1.05);
}

/* <!-- ====================serction_6=============================== -->  */

.sct_6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem 0;
    gap: 3.2rem;
}

.sct_6 .main_h1 {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    gap: .8rem;
}

.sct_6 .circle_list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: .4rem;
}

.sct_6 .circle_list li {
    width: .5rem;
    height: .5rem;
    background-color: #FF8C00;
    border-radius: 50%;
    display: inline-block;
}

.sct_6 .box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sct_6 .box .card {
    width: 100%;
    display: flex;
    gap: 1.2rem;
}

.sct_6 .box .card .left_card {
    position: relative;
}

.sct_6 .box .card .left_card .shape {
    clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 80%, 50% 100%, 0 80%);
    background-color: #EAF7FA;
    width: 30.5rem;
    height: 24rem;
}

.sct_6 .box .second .left_card .shape {
    clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%);
    background-color: #D5EEF4;
    width: 30.5rem;
    height: 30rem;
}

.sct_6 .box .third .left_card .shape {
    clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%);
    background-color: #CCEAF2;
    width: 30.5rem;
    height: 30rem;
}

.sct_6 .box .card .left_card h2 {
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-size: 6.4rem;
    font-weight: 700;
    position: absolute;
    left: -4rem;
    top: 5rem;
}

.sct_6 .box .second .left_card h2 {
    top: 9rem;
}

.sct_6 .box .third .left_card h2 {
    top: 9rem;
}

.sct_6 .box .card .left_card p {
    color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 2.8rem;
    font-weight: 700;
    position: absolute;
    left: 9rem;
    top: 9rem;
}

.sct_6 .box .second .left_card p {
    top: 13rem;
}

.sct_6 .box .third .left_card p {
    top: 13rem;
}

.sct_6 .box .card .right_card {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.sct_6 .box .card .right_card h4 {
    width: fit-content;
    padding-bottom: 1rem;
    color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: var(--bold-weight);
    border-bottom: .3rem solid var(--secondary-color);
}

.sct_6 .box .card .right_card p {
    width: fit-content;
    color: #000;
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: var(--regular-weight);
}

.sct_6 .box .card .right_card p span {
    display: block;
    width: fit-content;
    color: #000;
    font-family: var(--font-family);
    font-size: 1.8rem;
    font-weight: var(--bold-weight);
}

.sct_6 .box .card .right_card .dashed {
    border-bottom: .2rem dashed var( --primary-color);
    padding-bottom: 1.6rem;
    border-image: repeating-linear-gradient(90deg, black, black 10px, transparent 10px, transparent 20px);
    border-image-slice: 1;
}

/* <!-- ====================serction_7=============================== -->  */

.case-list-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    box-sizing: border-box;
}

.another-case-list .main_h1 {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    gap: .8rem;
}

.another-case-list .circle_list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: .4rem;
}

.another-case-list .circle_list li {
    width: .5rem;
    height: .5rem;
    background-color: #FF8C00;
    border-radius: 50%;
    display: inline-block;
}

.another-case-list {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.case-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #fff;
    background: var(--White, #FFF);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px 0px 0px 0px;
    justify-content: space-between;
}

.image-box {
    position: relative;
}

.image-box img {
    width: 100%;
    height: 18.5rem;
    display: block;
    object-fit: cover;
}

.image-box p {
    position: absolute;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px 0px 3px 0px;
    border: 1px solid var(--Primary-color, #001E62);
    background: var(--White, #FFF);
    top: 0;
    left: 0;
    color: var(--Deep-Sapphire---Primary-950, var(--Primary-color, #001E62));
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 160%;
    margin: 0;
}

.text-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    gap: 1.2rem;
}

.text-box img {
    width: auto;
    max-width: fit-content;
    height: 2.8rem;
}

.text-box p {
    color: var(--Black, #000);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.another-case-list .sct_7_btn {
    width: fit-content;
    margin: 0 auto;
    background: var(--color-btn);
    border-radius: var(--border-radius);
    padding: 1.2rem 6.4rem;
    font-family: var(--font-family);
    color: var(--text-color-def);
    font-size: 2.4rem;
    font-weight: var(--bold-weight);
    margin-top: 4.4rem;
}

.another-case-list .sct_7_btn:hover {
    background-color: var(--hover-dark);
    transform: scale(1.05);
}

/* <!-- ====================serction_8=============================== -->  */

.main-box-another-webinars {
    width: 100%;
    background: #F2FBFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-box-another-webinars .main_h1 {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    gap: .8rem;
}

.main-box-another-webinars .circle_list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: .4rem;
}

.main-box-another-webinars .circle_list li {
    width: .5rem;
    height: .5rem;
    background-color: #FF8C00;
    border-radius: 50%;
    display: inline-block;
}

.w-list-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    box-sizing: border-box;
}

.another-list-wb {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.wl-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 1.6rem;
    gap: .8rem;
    justify-content: space-between;
}

.image-box-wl {
    position: relative;
}

.image-box-wl img {
    width: 100%;
    height: 16rem;
    /* min-height: 15.7rem;
    max-height: 18.5rem; */
    display: block;
    object-fit: cover;
}

.text-box-wl {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    gap: 1.2rem;
}

.title-webinar-link-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.6em;
    width: 100%;
}

.title-webinar-link-2 h1 {
    color: var(--Black, #000);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.title-webinar-link-2 a {
    display: flex;
    padding: .4rem 1.4rem;
    align-items: center;
    background: #E37611;
    color: var(--white, var(--White, #FFF));
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 160%;
}

.text-box-wl img {
    width: auto;
    max-width: fit-content;
    height: 2.8rem;
}

.text-box-wl p {
    color: var(--Black, #000);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.links-wl-item-2 {
    display: flex;
    justify-content: flex-start;
    gap: 1.6rem;
    flex-wrap: wrap;
}

.links-wl-item-2 a {
    color: var(--Primary-color, #001E62);
    text-align: center;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    min-width: fit-content;
}

.main-box-another-webinars .sct_8_btn {
    width: fit-content;
    margin: 4.4rem auto 0;
    background: var(--color-btn);
    border-radius: var(--border-radius);
    padding: 1.2rem 6.4rem;
    font-family: var(--font-family);
    color: var(--text-color-def);
    font-size: 2.4rem;
    font-weight: var(--bold-weight);
}

.main-box-another-webinars .sct_8_btn:hover {
    background-color: var(--hover-dark);
    transform: scale(1.05);
}

/*  
   /\  /\     |-----  |---\    |      /\
  /  \/  \    | __    |    \   |     /  \
 /        \   |       |    /   |    / -- \
/          \  |-----  |---/    |   /      \ */

/* <!-- ====================media_1=============================== --> */

@media (min-width: 2000px) {
    .sct_1 {
        min-height: 100vh;
        margin-top: 6.65rem;
    }
    .sct_1 .sct_1_text {
        transform: scale(1.3);
    }
}

@media (min-width: 1440px) and (max-width: 2000px) {
    .sct_1 {
        min-height: 67.1rem;
        margin-top: 6.65rem;
    }
    .sct_1 .sct_1_text {
        transform: scale(1);
    }
    .sct_1 .main_bg_sct_1 {
        border-radius: 0 0 0 15rem;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .sct_1 .sct_1_text {
        transform: scale(.7);
    }
    .sct_1 {
        min-height: 65rem;
        margin-top: 6.65rem;
    }
    .sct_1 .main_bg_sct_1 {
        border-radius: 0 0 0 10rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .sct_1 .sct_1_text {
        transform: scale(.6);
    }
    .sct_1 {
        min-height: 50rem;
        margin-top: 7.9rem;
    }
    .sct_1 .main_bg_sct_1 {
        border-radius: 0 0 0 8rem;
    }
}

@media (min-width: 1px) and (max-width: 768px) {
    .sct_1 .sct_1_text {
        transform: scale(.5);
    }
    .sct_1 {
        min-height: 40rem;
        margin-top: 7.9rem;
    }
    .sct_1 .main_bg_sct_1 {
        width: 100%;
        scale: 1.1;
        border-radius: 0;
    }
}

/* <!-- ====================media_2=============================== --> */

@media (min-width: 768px) and (max-width: 1024px) {
    .sct_2 {
        /* flex-direction: column; */
        gap: 3rem;
    }
    .sct_2 .sct_2_left {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .sct_2 .sct_2_right img {
        position: static;
        width: 40%;
        height: auto;
    }
    .sct_2 .sct_2_right img:nth-child(1) {
        bottom: 0;
        left: 0;
        margin-top: 4rem;
    }
    .sct_2 .sct_2_right img:nth-child(2) {
        margin-bottom: 4rem;
        top: 0;
        right: 0;
    }
}

@media (min-width: 1px) and (max-width: 768px) {
    .sct_2 {
        gap: 4rem;
    }
    .sct_2 .sct_2_left {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .sct_2 .sct_2_left h6 p {
        font-size: 2.2rem;
    }
    .sct_2 .sct_2_left h6 .top {
        transform: scale(.7);
    }
    .sct_2 .sct_2_left h6 .bottom {
        transform: scale(.7);
    }
    .sct_2 .sct_2_right img {
        position: static;
        width: 40%;
        height: auto;
    }
    .sct_2 .sct_2_right img:nth-child(1) {
        bottom: 0;
        left: 0;
        margin-top: 4rem;
    }
    .sct_2 .sct_2_right img:nth-child(2) {
        margin-bottom: 4rem;
        top: 0;
        right: 0;
    }
}

/* <!-- ====================media_3=============================== --> */

@media (max-width:1440px) {
    .sct_3 video {
        width: 90%;
    }
}

@media (max-width:425px) {
    .sct_3 h6 {
        font-size: 2.2rem;
    }
    .sct_3 .sct_3_btn {
        font-size: 1.5rem;
    }
}

/* <!-- ====================media_4=============================== --> */

@media(min-width:1441px) {
    .sct_4 .wrapper {
        justify-content: space-around;
    }
}

@media(max-width: 1440px) {
    .sct_4 .wrapper {
        padding: 4rem;
        /* height: 61rem; */
        flex-direction: column;
    }
    .sct_4 .wrapper .sct_4_left {
        /* width: 63rem; */
        margin: 0 auto;
        padding: 4rem 4rem 4rem 0;
        gap: 3rem;
    }
    .sct_4 .wrapper .sct_4_left h6 {
        padding-bottom: 1rem;
        font-size: 2rem;
        border-bottom: .3rem solid var(--secondary-color);
    }
    .sct_4 .wrapper .sct_4_right {
        width: 34rem;
        margin: 0 auto;
    }
    .sct_4 .wrapper .sct_4_right img:nth-child(1) {
        width: 22.2rem;
    }
    .sct_4 .wrapper .sct_4_right img:nth-child(2) {
        width: 21.6rem;
    }
}

@media(max-width: 768px) {
    .sct_4 .wrapper {
        padding: 4rem;
        flex-direction: column;
        gap: 4rem;
    }
    .sct_4 .wrapper .sct_4_left {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        gap: 3rem;
    }
    .sct-4-right-javo {
        width: 100%;
        padding: 0;
    }
    .sct-4-right-javo img {
        width: 100%;
    }
    .sct_4 .wrapper .sct_4_left h6 {
        padding-bottom: 1rem;
        font-size: 2rem;
        border-bottom: .3rem solid var(--secondary-color);
    }
    .sct_4 .wrapper .sct_4_right {
        width: 34rem;
        height: 25.5rem;
        margin: 0 auto;
    }
    .sct_1 .sct_1_text h5 {
        min-width: max-content;
    }
}

@media(max-width: 470px) {
    .sct_1 .sct_1_text h5 {
        text-align: center;
        min-width: 60rem;
    }
}

/* <!-- ====================media_5=============================== --> */

@media(max-width: 1440px) {
    .sct_5 .box .card:nth-child(even) {
        align-self: flex-end;
        padding: 5rem 20rem 5rem 25rem;
    }
    .sct_5 .box .card:nth-child(odd) {
        align-self: flex-start;
        padding: 5rem 25rem 5rem 20rem;
    }
    .sct_5 .box .card div {
        width: 30rem;
        height: 26rem;
    }
    .sct_5 .box .card:nth-child(odd) div {
        top: -4rem;
        right: -10rem;
    }
    .sct_5 .box .card:nth-child(even) div {
        top: -4rem;
        left: -10rem;
    }
    .sct_5 .box .card div img {
        width: 100%;
        height: auto;
    }
}

@media(max-width: 1024px) {
    .sct_5 .sct_5_src {
        display: flex;
        padding: 0 10rem;
    }
    .sct_5 .sct_5_src p {
        width: 12rem;
        height: 12rem;
    }
    .sct_5 .box .card {
        width: 100%;
        margin-top: 4rem;
    }
    .sct_5 .box .card:nth-child(even) {
        align-self: flex-end;
        padding: 6rem 10rem 6rem 40rem;
    }
    .sct_5 .box .card:nth-child(odd) {
        align-self: flex-start;
        padding: 6rem 40rem 6rem 10rem;
    }
    .sct_5 .box .card p {
        width: 100%;
    }
    .sct_5 .box .card div {
        width: 30rem;
        height: 26rem;
    }
    .sct_5 .box .card:nth-child(odd) div {
        top: 0rem;
        right: 6rem;
    }
    .sct_5 .box .card:nth-child(even) div {
        top: 0rem;
        left: 6rem;
    }
    .sct_5 .box .card:nth-child(even) h1 {
        left: 40rem;
    }
}

@media(max-width: 768px) {
    .sct_5 .sct_5_src {
        display: flex;
        padding: 0 4rem;
    }
    .sct_5 .sct_5_src p {
        width: 12rem;
        height: 12rem;
    }
    .sct_5 .box .card {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sct_5 .box .card:nth-child(even) {
        align-self: flex-end;
        padding: 4rem;
    }
    .sct_5 .box .card:nth-child(odd) {
        align-self: flex-start;
        padding: 4rem;
    }
    .sct_5 .box .card p {
        width: 80%;
    }
    .sct_5 .box .card div {
        margin-top: 3rem;
        position: static;
        width: 40rem;
        height: 36rem;
    }
    .sct_5 .box .card h1 {
        margin-bottom: 1rem;
        position: static;
    }
    .sct_5 .sct_5_btn {
        padding: 1rem 4rem;
        margin-top: 3rem;
    }
}

/* <!-- ====================media_6=============================== --> */

@media (max-width: 1024px) {
    .sct_6 .box .card .left_card .shape {
        width: 24.5rem;
        height: 24rem;
    }
    .sct_6 .box .second .left_card .shape {
        width: 24.5rem;
        height: 30rem;
    }
    .sct_6 .box .third .left_card .shape {
        width: 24.5rem;
        height: 30rem;
    }
}
@media(max-width: 425px){
    .sct_6 .box .card {
        flex-direction: column;
    }
    .sct_6 .box .card .left_card .shape {
        width: 100%;
        height: 24rem;
    }
    .sct_6 .box .card .left_card h2 {
        left: 0;
    }
    .sct_6 .box .card .left_card p {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

/* <!-- ====================media_7=============================== --> */

@media (max-width: 1024px) {
    .case-list-main {
        grid-template-columns: repeat(2, 1fr);
    }
    .image-box img {
        height: 22rem;
    }
}

@media (max-width: 768px) {
    .case-list-main {
        grid-template-columns: repeat(1, 1fr);
    }
    .image-box img {
        height: auto;
        min-height: 30rem;
    }
}

/* <!-- ====================media_8=============================== --> */

@media (max-width: 1024px) {
    .w-list-main {
        grid-template-columns: repeat(2, 1fr);
    }
    .image-box-wl img {
        height: 22rem;
    }
}

@media (max-width: 768px) {
    .w-list-main {
        grid-template-columns: repeat(1, 1fr);
    }
    .image-box-wl img {
        height: auto;
        min-height: 30rem;
    }
}